<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <button @click="addItem">Add Item</button>
        <label> User: </label>
        <input type="text" v-model="userId" required>
        <label> Description: </label>
        <input type="text" v-model="description" required>
        <label> Image: </label>
        <input type="text" v-model="image">
        <label> Lat: </label>
        <input type="number" v-model="lat" required>
        <label> Lon: </label>
        <input type="number" v-model="lon" required>
        <label> Keywords: </label>
        <input type="text" v-model="keywords_string" required>
        <div v-if="items">
            <ul>
                <li v-for="item in items">
                    <h4>Author {{ item.user_id }}</h4>
                    <img :src="item.image" :alt="item.description"/><br/>
                    <p>Lat: {{ item.lat }}   Lon: {{ item.lon }}</p>
                    <button @click="deleteItem(item)">Delete item {{ item.id }}</button>
                </li>
            </ul>
        </div>

        
        <script>
            const urlParams = new URLSearchParams(window.location.search);
	        const apiUrl = (urlParams.get('api') || '/api/v1').replace(/\/$/, '');
            //var apiUrl = "https://8000-silver-impala-bbndrhb9.ws-eu17.gitpod.io";
            //var apiUrl = "http://localhost:8000"

            const app = Vue.createApp({
                data() {
                    return {
                        items: null,

                        userId:'',
                        description:'',
                        image:'',
                        lat:'',
                        lon:'',
                        keywords_string:''
                    }
                },
                mounted() {
                    this.loadItems()
                },
                methods:{
                    loadItems(){
                        fetch(apiUrl + "/items")
                            .then(res => res.json())
                            .then(data => this.items = data)
                            .catch(err => console.log(err.message))
                    },

                    async addItem(){
                        var arr = this.keywords_string.split(',')
                        arr = arr.map(s => s.trim())
                        var data = {
                            user_id: this.userId,
                            description: this.description,
                            image: this.image,
                            lat: this.lat,
                            lon: this.lon,
                            keywords: arr
                        }

                        console.log(data)
                        var response = await fetch(apiUrl + "/item",{
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        }).catch(err => console.log(err))
                        
                        this.loadItems()
                    },

                    async deleteItem(item){
                        await fetch(apiUrl + "/item/" + item.id, {
                            method: 'DELETE'
                        }).catch(err => console.log(err.message))
                        
                        this.loadItems()
                    }
                }
            })

            app.mount('#app')
        </script>
    </div>
</body>
</html>