<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="icon" href="favicon.ico">
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        
    </script>
    <style>
        i{
            font-size: 1rem;
            cursor:pointer;
        }

        body{
            background-color: #f8f6f0;
        }

        nav{
            /*background-color: #efdfc8;*/
            background-color: #ddd1b2;
            padding-left:5em;
            padding-right:5em;
        }

        h6{
            margin-left:20px;
        }

        ul{
            list-style-type: none;
        }

        .my-form{
            background-color: #cedcf2;
            /*background-color: #efe9d9;*/
            border-radius: 30px;
            margin:2em;
        }

        .required-asterisk{
            color: red;
        }

        .item-card{
            width: 18rem;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Freecycle</a>
        </div>
    </nav>
    <div id="main" class="container">
        <form id="form" class="my-form container" @submit="return false;">
            <div class="row my-3 justify-content-evenly">
                <div class="col-10 col-md-7 my-3 mt-4 order-1 d-inline-flex p-2">
                    <input class="form-control" name="user_id" type="text" v-model="userId" placeholder="User ID" required>
                    <span class="required-asterisk"> *</span>
                </div>
                <div class="col-10 col-md-2 my-3 order-3 order-md-2 d-inline-flex p-2">
                    <input class="form-control" name="lat" type="number" step="any" v-model="lat" placeholder="Latitude" required>
                    <span class="required-asterisk"> *</span>
                </div>
                <div class="col-10 col-md-7 my-3 order-2 order-md-3">
                    <input class="form-control" name="title" type="text" v-model="title" placeholder="Title">
                </div>
                <div class="col-10 col-md-2 my-3 order-4 d-inline-flex p-2">
                    <input class="form-control" name="lon" type="number" step="any" v-model="lon" placeholder="Longitude" required>
                    <span class="required-asterisk"> *</span>
                </div>
            </div>
            <div class="row my-3 justify-content-evenly">
                <div class="col-10 my-3">
                    <input class="form-control" name="image" type="text" v-model="image" placeholder="Image URL">
                </div>
                <div class="col-10 my-3 d-inline-flex p-2">
                    <input class="form-control" name="keywords" type="text" v-model="keywords_string" placeholder="Keywords"
                        title="Keywords must be separated by commas" required>
                    <span class="required-asterisk"> *</span>
                </div>
                <div class="col-10 my-3 d-inline-flex p-2">
                    <textarea class="form-control" name="description" v-model="description" placeholder="Description"
                        required></textarea>
                    <span class="required-asterisk"> *</span>
                </div>
                <div class="col-10 my-3 mb-4">
                    <div class="col-lg-2 col-sm-4 col-6">
                        <button class="btn btn-primary form-control" data-action="create_item" @click="onSubmit">Add Item</button>
                        <span class="required-asterisk">* required field</span>
                    </div>
                </div>
            </div>
        </form>
        <div class="container" style="margin:2em;">
            <ul class="row" v-if="items">
                <li v-for="item in items" class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-5 d-flex justify-content-center">
                    <div class="card p-0 h-100 item-card">
                        <div class="mw-100" style="height: 18rem;">
                            <img v-if="item.image" :src="item.image" :alt="item.description" class="card-img-top" style="height: 100%" />
                            <img v-else src="placeholder.png" :alt="item.description" class="card-img-top" style="height: 100%"/>
                        </div>
                        <div class="card-body h-auto">
                            <h4 v-if="item.title" class="card-title">{{ item.title }}</h4>
                            <h4 v-else class="card-title" data-field="id">Item {{ item.id }}</h4>
                        
                            <h6 class="card-subtitle mb-2 text-muted">By {{ item.user_id }}</h6>
                            <!--This ul is there only so that the client test passes-->
                            <p class="card-text mt-4">{{ item.description }}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-self-end w-100">
                            <button class="btn btn-info form-control" data-action="show_map" @click="toggle_card_facing(item)"
                                style="width: 3rem">
                                <i v-if="!cards_rotation[item.id]" class="bi bi-geo-alt"></i>
                                <i v-else class="bi bi-image"></i>
                            </button>
                            <button class="btn btn-warning form-control" data-action="delete" @click="delete_item(item)" style="width: 3rem">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <script>
            const urlParams = new URLSearchParams(window.location.search);
	        const apiUrl = (urlParams.get('api') || '/api/v1').replace(/\/$/, '');
            //var apiUrl = "https://8000-silver-impala-bbndrhb9.ws-eu17.gitpod.io";
            //var apiUrl = "http://localhost:8000"

            const app = Vue.createApp({
                data() {
                    return {
                        items: null,
                        cards_rotation: {},

                        userId:'',
                        description:'',
                        image:'',
                        lat:'',
                        lon:'',
                        keywords_string:'',
                        title:''
                    }
                },
                mounted() {
                    this.load_items()
                },
                methods:{
                    load_items(){
                        fetch(apiUrl + "/items")
                            .then(function(res){
                                if(res.status == 204){
                                    return {};
                                }
                                else{
                                    return res.json();
                                }
                            })
                            .then(data => this.items = data)
                            .catch(err => console.log(err.message))
                        
                        for(let item in this.items){
                            if(!this.cards_rotation.hasOwnProperty(item.id)){
                                this.cards_rotation[item.id] = true;
                            }
                            console.log(this.cards_rotation[item.id]);
                        }
                        
                    },

                    async create_item(){
                        /*split string from 'keywords' input into an array
                          and delete white-space characters from every element*/
                        var arr = this.keywords_string.split(',')
                        arr = arr.map(s => s.trim())
                        var data = {
                            user_id: this.userId,
                            description: this.description,
                            image: this.image,
                            lat: this.lat,
                            lon: this.lon,
                            keywords: arr,
                            title: this.title
                        }

                        console.log(data)
                        //send a POST request to the server with the new data and correct headers
                        var response = await fetch(apiUrl + "/item",{
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        }).catch(err => console.log(err))

                        //clear input fields
                        this.userId = '';
                        this.description = '';
                        this.image = '';
                        this.lat = '';
                        this.lon = '';
                        this.keywords_string = '';
                        this.title = '';

                        this.load_items()
                    },

                    async delete_item(item){
                        //send a DELETE request to the server
                        await fetch(apiUrl + "/item/" + item.id, {
                            method: 'DELETE'
                        }).catch(err => console.log(err.message))
                        
                        this.load_items()
                    },

                    onSubmit(event){
                        event.preventDefault(); 
                        var ele = document.getElementById("form");
                        var chk_status = ele.checkValidity();
                        ele.reportValidity();
                        if (chk_status){
                            this.create_item();
                        }
                    },

                    toggle_card_facing(item){
                        //this.cards_rotation[item.id] = !this.cards_rotation[item.id];
                    }
                }
            })

            app.mount('#main')

            function initMap() {
                for (var item in app.items) {
                    console.log("hello")
                    var pos = { lat: item.lat, lng: item.lon };

                    var map = new google.maps.Map(document.getElementById("item_" + item.id + "_map"), {
                        zoom: 4,
                        center: pos,
                    });

                    var marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                    });
                }
            }
        </script>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2hT2FiD6cf6LNGAH28VBvvwIQBfSbvkg&callback=initMap">
    </script>


</body>
</html>